* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.bash text eol=lf
*.launch.py text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.repos text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.pgm binary
*.pcd binary
*.ply binary
*.db3 binary
*.mcap binary
