NJRH_WORKSPACE_HOST=/home/nvidia/workspaces/njrh-v3/workspace1
NJRH_WORKSPACE_CONTAINER=/workspaces/njrh-v3/workspace1
NJRH_UPSTREAM_WORKSPACE_HOST=/home/nvidia/workspaces/isaac_ros-dev
NJRH_UPSTREAM_WORKSPACE_CONTAINER=/workspaces/isaac_ros-dev
NJRH_CONTAINER_NAME=NJRH-car
NJRH_REUSE_COMMON_SERVICES=true
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
FASTDDS_BUILTIN_TRANSPORTS=UDPv4
ROBOT_API_TOKEN=change-me
